body {
  margin: 0;
  padding: 1em;
  min-width: 350px;
  background: #fffffe;
  font-family: sofia-pro,sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
}

hr, h1{
  color: #232323;
}

a {
  text-decoration: none;
}

p {
  color: #222525;
  opacity: 1;
  font-size: 1.3rem;
  font-weight: 400;
}

ul{
  columns: 2;
  list-style-type: none;
}

li {
  color: #ffaf93;
  font-family: sofia-pro,sans-serif;
}

textarea {
  font-family: sofia-pro,sans-serif;
  outline: none;
  width: 100%;
  height: 110px;
  padding: 12px 20px;
  margin: 4px 0;
  box-sizing: border-box; 

  border: 2px solid #078080;
  border-radius: 4px;
}

select {
  font-family: sofia-pro,sans-serif;
  width: 30%;
  outline: none;
  padding: 12px;
  border: 2px solid #f45d48;
  border-radius: 4px;
  resize: vertical;
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  color: #222525;
  font-size: small;
}

.footer a {
  color: #222525;
  font-size: small;
  cursor: pointer;
  font-weight: normal;
}

.mentions{
  font-size: x-small;
  margin: 0px;
}

button {
  font-family: sofia-pro,sans-serif;
  background-color: #f45d48;
  color: #232323;
  border-radius: 12px;
  font-size: 16px;
  padding: 12px;
  margin:0 0 10px 0; 
  outline:none;
  border: none;
  cursor: pointer;
}

#submit{
  background-color: #69d295;
}

#charCount{
  font-size: x-small;
  float: right;
  margin: 0px;
}

#audio-btn{
  outline: none;
  border: none;
}

.feedbackText{
  font-size: small;
  margin: 0px;
}

#passed{
  color: #078080;
}

#start {
  background-color: #69d295;
  color: #232323;
}

#mistake{
  color:#f45d48;
}

#header{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 2px;
  background: #f8f5f2;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #232323; 
  /* -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);  */
}
