body {
  margin: 0;
  padding: 1em;
  min-width: 350px;
  background: #fffffe;
  font-family: sofia-pro,sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
}

hr, h1{
  color: #232323;
}

p {
  color: #222525;
  opacity: 1;
  font-size: 1.3rem;
  font-weight: 400;
}

ul{
  columns: 2;
  list-style-type: none;
}

li {
  color: #ffaf93;
  font-family: sofia-pro,sans-serif;
}

textarea {
  font-family: sofia-pro,sans-serif;
  outline: none;
  width: 90%;
  height: 110px;
  padding: 12px 20px;
  margin: 4px 0;
  box-sizing: border-box; 

  border: 2px solid #078080;
  border-radius: 4px;
}

.footer {
  color: #222525;
  font-size: small;
}

button {
  background-color: #f45d48;
  color: #232323;
  border-radius: 12px;
  font-size: 16px;
  padding: 12px;
  margin:0 0 10px 0; 
  outline:none;
  border: none;
  cursor: pointer;
}

#submit{
  background-color: #69d295;
}

#charCount{
  font-size: x-small;
  float: right;
}

.feedbackText{
  font-size: small;
  margin: 0px;
}

#passed{
  color: #078080;
}

#mistake{
  color:#f45d48;
}
